@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Gyeonggi_Batang_Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2410-3@1.0/Batang_Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}
:root {
  --background: #f5f5f5;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Gyeonggi_Batang_Regular", sans-serif;
}
